<%- include('../partials/header') %>

<section id ="show-page">
    <div>Title:</div>
    <div><%= game.title %></div>
    <div><%= game.companay %></div>
    <div>Release Year:</div>
    <div><%= game.releaseYear %></div>
</section>







<%- include('../partials/footer') %>
